/* General Footer Styling */
.footer {
    background-color: #fbfbfb;  /* Dark background */
    color: #040404;  /* White text */
    text-align: center;
    padding: 20px 0;
}

.footer-content p {
    margin: 5px 0;
    font-size: 0.9em;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    color: #ffffff;  /* Icon color */
    font-size: 1.5em;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff6b6b;  /* Highlight color on hover */
}